<!DOCTYPE html>
<html>
<head>
  <title>LozaBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="wrapper">
			
			<div class="section group">

				<div class="col span_1_of_3">
				<div class="section group">
				<!-- LEFT SIDE -->
				<%= render 'layouts/nav' %>
				</div>
				</div>

				<!-- RIGHT SIDE -->
				<div class="col span_2_of_3">
				<div class="section group">
				<%= render 'layouts/messages' %>
				<%= yield %>
				</div>
				</div>

			</div>

			<%= render 'layouts/footer' %>

	</div>

</body>
</html>
